*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}
 /* body */
body{
    position: relative;
    background: #f0f0f0;
    font-family: 'roboto', sans-serif;
}

 /* navbar */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    
    flex-wrap: nowrap;
    justify-content:space-between;
}

.yt{
    margin-left: 30px;
    padding-left: 80px;
}

.br{
   border-radius: 2PX;
  
}

.logo{
    height: 30px;
    margin: -10px 30px 0;
}
 /* search box, bar,btn */
.search-box{
    position: relative;
    max-width: 300px;
    width: 50%;
    height: 35px;
    display: flex;
}

.search-bar{
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
}

.search-btn{
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
}

.search-btn img{
    height: 100%;
}


 /* info */
.user-options{
    height: 35px;
    display: flex;
    margin-left: auto;
    position: relative;
    /* flex-wrap: inherit; */
    align-items: center;
    justify-content: space-between;
}

.user-options .icon{
    display: flex;
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
}

.user-dp{
    display: flex;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* side-bar */

.links{
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.links img{
    height: 25px;
    margin-right: 20px;
}

.links:hover,
.links.active{
    background: rgba(0, 0, 0, 0.1);
}


/* tabbar */

.filters{
    position: fixed;
    left: 0;
    top: 60px;
    height: 60px;
    background: #fff;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 40px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    
}

.filters::-webkit-scrollbar{
    display: none;
}

.filter-options{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    margin-right: 10px;
    color: #242424;
    font-size: 15px;
    cursor: pointer;
}

.filter-options.active{
    color: #fff;
    background: #242424;
}

/* video content */

.video-container{
    
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px 5px;
    overflow-x: hidden;
}

.video{
    min-height: 250px;
    height: auto;
    margin: 10px;
}

.thumbnail{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.content{
    width: 100%;
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.channel-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.title{
    width: 100%;
    height: 60px;
    overflow: hidden;
    color: #242424;
}

.channel-name{
    font-size: 18px;
    margin: 3px 2px;
    color: #000000;
}
